@font-face {
  font-family: "SF Pro Text";
  src: url("fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SF-Pro-Display-Semibold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SF-Pro-Display-Regular.otf") format("truetype");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "SF Pro Text", sans-serif;
}
svg {
  display: block;
}
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.806); /* semi-transparent white */
  backdrop-filter: blur(10px); /* this is the magic */
  -webkit-backdrop-filter: blur(10px); /* for Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* optional soft border */
}
.navbar {
  display: flex;
  height: 2.75rem;
  align-items: center;
  width: 62.5rem;
  gap: 2rem;

  font-size: 0.75rem;
}
.navbar__left,
.navbar__right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(29, 29, 31);
}
h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(29, 29, 31);
}
h3 {
  font-size: 1.3125rem;
  font-weight: 400;
}
.hero {
  display: flex;
  margin-top: 2.75rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  font-family: "SF Pro Display", sans-serif;
}
img {
  height: 35rem;
  display: block;
  margin: 0 auto;
}
.hero__content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gradient-text {
  background: linear-gradient(
    94deg,
    rgb(0, 144, 247),
    rgb(186, 98, 252),
    rgb(242, 65, 107),
    rgb(245, 86, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}
.button {
  padding: 11px 21px;
  font-size: 1.0625rem;
  border-radius: 9999px;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.button-shop {
  background-color: transparent;
  outline: 1px solid rgb(0, 113, 227);
  color: rgb(0, 113, 227);
}
.button-learn {
  margin-right: 1rem;
  background-color: rgb(0, 113, 227);
  color: white;
}
